<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Shopping!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class=" nav navbar-nav ml-auto">
            <li class="nav-item">
                {{#if login}}
                <a class="nav-link" href="/shopping-cart"><i class="fas fa-shopping-cart"></i>
                    Shopping
                    Cart <span class="badge badge-light">{{session.cart.totalQty}}</span>&nbsp; &nbsp; Hello
                    {{user.firstName}}

                </a>
                {{else}}
                <a class="nav-link" href="/shopping-cart"><i class="fas fa-shopping-cart"></i>
                    Shopping
                    Cart
                    <span class="badge badge-light">{{session.cart.totalQty}}</span>
                </a>
                {{/if}}
            </li>
            {{#if login}}
            <li>
                <img src="{{ user.imagePath }}" class="profile-pic rounded-circle" alt="user image">
            </li>
            {{/if}}

            <li class="nav-item dropdown">
                {{# if login }}


                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    User Management
                </a>
                {{ else }}
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i>
                    User Management
                </a>
                {{/if}}

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{# if login }}
                    <a class="dropdown-item" href="/user/profile">User Account</a>
                    <a class="dropdown-item" href="/user/logout">Logout</a>
                    {{ else }}
                    <a class="dropdown-item" href="/user/signup">Sign up</a>
                    <a class="dropdown-item" href="/user/signin">Sign in</a>
                    {{/if}}
                </div>
            </li>
        </ul>
    </div>
</nav>