
<div class="row">
  <div class="col">
    <div class="form-column">
      <div class="form-item">
        <label>Product Title</label>
      <input type="text" name="title" value="<%=product.title%>">
      </div>
      <div class="form-item">
      <label>Description</label>
        <textarea name="description" > <%= product.description %> </textarea>
      </div>
      <div class="form-item">
      <label>Price</label>
        <input type="number" name="price" min="0" value="<%=product.price%>">
      </div>
      <div class="form-item">
      <label>Quantity</label>
        <input type="number" name="quantity" min="0" value="<%=product.quantity%>">
      </div>
      <div class="form-item">
      <label>Product Number</label>
        <input type="text" name="productNumber" value="<%=product.productNumber%>">
      </div>
      <div class="form-item">
      <label>Category</label>
        <input type="text" name="category" value="<%=product.category%>">
      </div>
    </div>
  </div>
</div>






<div class="form-row">
  <div class="form-item form-item-no-grow">
    <label>Cover</label>
    <input type="file" name="productImage" class="product-cover filepond">
  </div>
</div>
<div class="form-column">