<div class="form-column">
  <div class="form-item">
    <label>Product Title</label>
    <input type="text" name="title" value="<%=product.title%>">
  </div>
  <div class="form-item">
    <label>Description</label>
    <input type="description" name="familyName" value="<%=product.description%>">
  </div>
  <div class="form-item">
    <label>Price</label>
    <input type="number" name="price" value="<%=product.price%>">
  </div>
  <div class="form-item">
    <label>Quantity</label>
    <input type="number" name="quantity" value="<%=product.quantity%>">
  </div>
  <div class="form-item">
    <label>Product Number</label>
    <input type="text" name="productNumber" value="<%=product.productNumber%>">
  </div>
  <div class="form-item">
    <label>Category</label>
    <input type="text" name="category" value="<%=product.category%>">
  </div>
</div>