<div class="form-column">
  <div class="form-item">
    <label>UserId</label>
    <input type="text" name="id" value="{{_user.id}}">
  </div>
  <div class="form-item">
    <label>First Name</label>
    <input type="text" name="firstName" value="{{_user.firstName}}">
  </div>
  <div class="form-item">
    <label>Last Name</label>
    <input type="text" name="familyName" value="{{_user.familyName}}">
  </div>
  <div class="form-item">
    <label>Email</label>
    <input type="text" name="email" value="{{_user.email}}">
  </div>
  <div class="form-item">
    <label>Street</label>
    <input type="text" name="street" value="{{_user.address.street}}">
  </div>
  <div class="form-item">
    <label>City</label>
    <input type="text" name="city" value="{{_user.address.city}}">
  </div>
  <div class="form-item">
    <label>State</label>
    <input type="text" name="state" value="{{_user.address.state}}">
  </div>
  <div class="form-item">
    <label>Zip</label>
    <input type="number" name="zip" value="{{_user.address.zip}}">
  </div>


</div>